@charset "utf-8";

/*테이블 */


/* 슬라이드쇼 */
.cont .con .cont_col3{position: relative; margin: 360px 0 30px 1170px ; float: left; width: 400px; height: 200px; background: #ccc; overflow: hidden; }
.cont .con .cont_col3 .cont_col33{position: absolute; width: 100%; height: 100%;}
.cont .con .cont_col3 .cont_col33 a {position: absolute; width: 100%; height: 100%; text-align: center;}
.cont_nav a{width: 71px; height: 71px; position: absolute; left: 50%; top: 50%; transform: translateY(-50%); background:url(../img/sprites.png) no-repeat; text-indent:-199,980px}
.cont_nav a.disabled{display: none;}
.cont_nav a.pre{background-position: 0 -20px; margin-left: -880px;}
.cont_nav a.nex{background-position: -81px -20px; margin-left: 809px;}

.contindicator {position: absolute; bottom: 30px; left:0; right: 0; display: flex; justify-content: center;}
.contindicator a{ width: 8px; height: 8px; margin: 0 10px; background: url(../img/sprites.png) no-repeat -114px -4px; text-indent: -19,980‬px;}
.contindicator a.active{background-position: -134px -4px}
/*슬라이드쇼*/
.cont .con .cont_col4{position: relative; margin: 20px 0 30px 1170px ; float: left; width: 400px; height: 200px; background: #ccc; overflow: hidden;}
.cont .con .cont_col4 .cont_col44{position: absolute; width: 100%; height: 100%;}
.cont .con .cont_col4 .cont_col44 a {position: absolute; width: 100%; height: 100%; text-align: center;}
.ccont_nav a{width: 71px; height: 71px; position: absolute; left: 50%; top: 50%; transform: translateY(-50%); background:url(../img/sprites.png) no-repeat; text-indent::-199,980px}
.ccont_nav a.disabled{display: none;}
.ccont_nav a.pre{background-position: 0 -20px; margin-left: -880px;}
.ccont_nav a.nex{background-position: -81px -20px; margin-left: 809px;}

.contindicator {position: absolute; bottom: 30px; left:0; right: 0; display: flex; justify-content: center;}
.contindicator a{ width: 8px; height: 8px; margin: 0 10px; background: url(../img/sprites.png) no-repeat -114px -4px; text-indent: -19,980‬px;}
.contindicator a.active{background-position: -134px -4px}



